rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir lectura y escritura en todas las colecciones para que el registro de alumnos/profesores y gestión de proyectos funcione sin problemas de permisos.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
